@media only screen and (max-width: 768px) {
    .comments span {
        font-size: 1rem;
    }

    .read-more {
        font-size: 1rem;
    }
}

@media only screen and (max-width:450px) {
    .main-container {
        height: 95%;
        width: 95%;
        background: url('../images/frame1.png') left/cover no-repeat;
        transition: none;
        background-position: 25% center;
    }

    .main-container::before {
        transition: none;
    }

    .main-container.active::before {
        transform: none;
    }

    .main-container.active {
        background-position: 25% center;
        background-size: cover;
    }

    .banner-right-side {
        display: none;
    }

    .banner-left-side {
        width: 100%;
        padding-right: 3rem;
    }

    .headline {
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 1.5rem;
    }

    .headline .kitchn-logo {
        height: 1.3rem;
    }

    .comments {
        margin-top: 1rem;
        height: 10rem;
        font-size: 0.75rem !important;
    }

    .comments span {
        font-size: 0.75rem !important;
        text-align: left;
        font-weight: 600;
    }

    .read-more {
        font-size: 0.75rem !important;
        font-weight: 400;
        text-decoration: underline;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .arrow-container {
        display: flex;
        justify-content: center;
    }

    #current-slide {
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
    }

    .shop-now-container {
        display: flex;
        justify-content: center;
    }

    .button-text {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
    }

    .site-details {
        color: black;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
        transition: none;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .site-details p {
        margin: 0;
        font-size: 0.75rem;
    }

    .bespoke-jett-left {
        font-size: 2rem;
    }
    
    .bespoke-jett-left span {
        font-size: 1rem;
    }
    
    .bespoke-jett-left .bespoke-regular {
        font-size: 2rem;
    }

    .samsung-logo {
        width: 6.25rem;
    }

    .headline-move-down {
        margin-top: 3rem;
    }

    .arrow-left img, .arrow-right img {
        filter: invert(1);
    }

    .shop-now-button {
        filter: invert(1);
        width: 11.5rem;
        height: 4.5rem;
    }

    .arrow-container a img {
        height: 1rem;
        width: 0.5rem;
    }
}