.shop-now-container {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
}

.shop-now-button {
    width: 15.625rem;
    height: 6.25rem;
    background-image: url('../images/Button.svg');
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
    animation: pulse 2s 10;
    animation-delay: 4.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.shop-now-button.fade-in {
    opacity: 1;
}

.shop-now-button:hover {
    animation: none;
    transform: scale(1.06);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

.button-text {
    position: absolute;
    z-index: 11;
    font-family: 'SamsungOne 400', sans-serif;
}

